/* body{
    overflow-x: hidden;
} */

.giph{
    margin: 2%;
}


.topics_row, .topic_adder_row{
    margin-top: 20px;
}

.topic_button{
    margin: 5px;
}

@media only screen and (max-width: 414px) {
    
    .giph{
        width: 90%;
        height: auto;
    }
}

@media only screen and (max-width: 375px) {
    .giph{
        width: 90%;
        height: auto;
    }
}

